<div class = "transactionsInfo">

  </div><div class="card m-3">
    <h4 class="card-header">List of transactions</h4>
    <ul class="transactions">
      <li class='myli' *ngFor="let transaction of transactions" (click)="onSelectTransaction(transaction)">
        <span>{{transaction.bookId}}</span> 
      </li>
  </ul>
  <div></div>


  <div class="card-body" *ngIf="selectedtransaction">
    <h4 class="card-header">{{selectedtransaction.bookId | uppercase}} Details</h4>
      <div class="details">
      <div>
        <span>Id: </span>{{selectedtransaction.id}}
      </div>
      <div>
        <span>ClientId: </span>{{selectedtransaction.clientId}}
      </div>
      <div>
        <span>BookId: </span>{{selectedtransaction.bookId}}
      </div>
      <div>
        <span>Price: </span>{{selectedtransaction.price}}
      </div>
      <div>
        <span>Rental Date: </span>{{selectedtransaction.rentalDate}}
      </div>
      <div>
        <span>Return Date: </span>{{selectedtransaction.returnDate}}
      </div>
      <div>
        <span>Rental Duration: </span>{{selectedtransaction.rentalDuration}}
      </div>
      <!-- <div>
        <span>DOB: </span>{{selectedtransaction.dob}}
      </div>
      <div>
        <span>Supplier: </span>{{selectedtransaction.supplier}}
      </div>
      <div>
        <span>Subscription: </span>{{selectedtransaction.subscription}}
      </div>
      <div>
        <span>Observations: </span>{{selectedtransaction.obs}}
      </div>
      <div>
        <span>History: </span>{{selectedtransaction.history}}
      </div> -->
    </div>
    <!-- <button class="btn btn-primary" (click)="update(selectedtransaction.id)">Edit</button> -->
    <app-delete-button [deleteID]="selectedtransaction.id"></app-delete-button>  
  </div>
</div>

<div class = "booksInfo">
  <div class="card m-3">
    <h4 class="card-header">List of books</h4>
    <ul class="transactions">
      <li class='myli' *ngFor="let book of books" (click)="onSelectBook(book)">
        <span>{{book.title}}</span> 
      </li>
  </ul>
  <div></div>

  <div class="card-body" *ngIf="selectedbook">
    <h4 class="card-header">{{selectedbook.title | uppercase}} Details</h4>
      <div class="details">
      <div>
        <span>Id: </span>{{selectedbook.id}}
      </div>
      <div>
        <span>Title: </span>{{selectedbook.title}}
      </div>
      <div>
        <span>AuthorId: </span>{{selectedbook.authorId}}
      </div>
      <div>
        <span>PublicationDate: </span>{{selectedbook.publicationDate}}
      </div>
      <div>
        <span>Quantity: </span>{{selectedbook.quantity}}
      </div>
    </div>
  </div>

</div>

<div class = "clientsInfo">
  <div class="card m-3">
    <h4 class="card-header">List of clients</h4>
    <ul class="transactions">
      <li class='myli' *ngFor="let client of clients" (click)="onSelectClient(client)">
        <span>{{client.firstName}}</span> 
      </li>
  </ul>
  <div></div>

  <div class="card-body" *ngIf="selectedbook">
    <h4 class="card-header">{{selectedclient.firstName | uppercase}} Details</h4>
      <div class="details">
      <div>
        <span>Id: </span>{{selectedclient.id}}
      </div>
      <div>
        <span>First Name: </span>{{selectedclient.firstName}}
      </div>
      <div>
        <span>Last Name: </span>{{selectedclient.lastName}}
      </div>
      <div>
        <span>Email: </span>{{selectedclient.email}}
      </div>
    </div>
  </div>

</div>

